* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

body {
    background: url("https://ivan-alexis-tan.github.io/My-website/image/milky_way.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 160, 196, 0.762);
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header a{
    text-decoration: None;
    color: black;
}

/* ============================================== */
/* =================== HEADER ===================*/
/* ============================================== */

/* Navigation Configuration Style */
.navi_config a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navi_config a:hover {
    text-decoration: underline;
    color:white;
}

/* ============================================== */
/* =================== BODY =================== */
/* ============================================== */

/* Main Content */
.main_content {
    padding-top: 120px;
    width: 80%;
    margin: 0 auto;
}

.main_content .content .left {
    display: flex;
    justify-content: center;
}

/* ============================================== */
/* ============================================== */
/* Sections of Main Content */
.section {
    gap: 40px;
    align-items: flex-start;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 40px;
}

.section p {
    position: relative;
    color: white
}

/* Section Title */
.section .section_title {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Section Title Icon */
.section .section_title img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.section .subsection {
    color: white;
}

/* ============================================== */
/* ============================================== */
/* Contents of Each Section */
.content {
    display: flex;
    padding: 20px;
}

.left {
    flex: 0 0 30%;
}

.right {
    flex: 1;
}

.subsection_div {
    margin: 20px auto;
    width: 80%;
    height: 2px;
}
/* ============================================== */
/* =========== SPECIFIC CUSTOMIZATION ===========*/
/* ============================================== */
/* PROFILE SECTION */

.profile-section {
    background-color: rgb(1, 98, 112);
}

/* "Left" Portion in Profile section  */
.profile-section .content .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d7d7d7;
}

/* PFP */
.pfp_circle {
    width: 250px;          /* control size */
    /*height: 150px;
    border-radius: 50%;    /* makes it circular
    object-fit: cover;     /* ensures image fills the circle */
}

.profile_name {
    color: white;
    margin-top: -40px;
}

/* Paragraph Contents */
.profile-section .content .right p {
    margin-bottom: 1.6em;
    line-height: 1.6;
    color: #ebebeb;
}

/* ============================================== */
/* Core Skills Label */
.profile-section .subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:10px;
}

/* Skill Lists */
.profile-section .skill_lists {
    display: flex;
    flex-direction: row;            /*<- makes the skill boxes side by side */
    align-items: flex-start;        /*<- aligns elements' tops evenly */
    justify-content: center;        /*<- centers elements horizontally */
    gap: 25px;                      /*<- adds space between the elements */
    flex-wrap: wrap;                /*<- allows wrapping on small screens */
}

.profile-section .skill_lists > div {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 200px;                   /* fixed width for even alignment */
    color: #d7d7d7;
    text-align: left;
}

/* Skill List Title */
.skill_lists .skill-title {
    color: white;
}

/* Skill List <h3> */
.skill_lists h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
}

/* Skill List <ul> */
.skill_lists ul {
    list-style-type: style type;
    padding-left: 0;
}

/* Skill List <li> */
.skill_lists li {
    margin-bottom: 0.3rem;
    color: #ebebeb;
}

/* ============================================== */
/* ============================================== */
/* PROJECTS SECTION */

/* Project Title (left side) */
.projects-section .subsection .left {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

/* Project Title (left side) <a> */
.projects-section .subsection .left .div_subheader a {
    text-decoration: none;
    color: white;
}

/* Project Title (left side) <a> when hovering*/
.projects-section .subsection .left .div_subheader a:hover {
    text-decoration: underline;
}

/* Project Title (left side) Project Type*/
.projects-section .subsection .left .proj_type {
    margin-top: 10px;
}


/* Project Content (right side) */
.projects-section .subsection .right {
    color: #ebebeb;
}

/* Project Content (right side) Description */
.projects-section .subsection .right .proj_content {
    margin-bottom: 20px;
}

/* Project Content (right side) <p> */
.projects-section .subsection .right .proj_content p{
    color: #ebebeb;
    margin-left: 15px;
}

/* Project Content (right side) <ul> */
.projects-section .subsection .right ul {
    margin-left: 20px;
    color: #ebebeb;
}

/* Project Content (right side) Insights */
/* .projects-section .subsection .right .proj_insights {
    margin-bottom: 20px;
} */

/* Project Title (right side) <h3> */
.projects-section .subsection .right h3 {
    margin-bottom: 3px;
    color: white;
}

/* ============================================== */
/* ============================================== */
/* CONTACTS SECTION */

.contacts-section {
    backdrop-filter: blur(25px);
    background: #855501;
}

/* Subsection Config */
.contacts-section .subsection {
    display: flex;
    flex-direction: row;
}

/* Content Config */
.contacts-section .subsection .content {
    display:flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

/* Content Image Config */
.contacts-section .subsection img {
    width: 30px;
}

/* Contact Links */
.contacts-section .subsection .content .contact-link a {
    text-decoration: none;
    color: rgb(59, 219, 255);
}

/* Contact Links when hovering */
.contacts-section .subsection .content .contact-link a:hover {
    text-decoration: underline;
}

